<div class="center-screen">
    <div class="row">
        <div>
            <input type="file" (change)="fileChangeEvent($event)" />
        </div>
    </div>
    <div class="row">
        <div class="imageView">
            <h5>Crop Image</h5>
            <image-cropper 
            
            [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [resizeToWidth]="256" 
            format="png" 
            [aspectRatio]="4/3"
            (imageCropped)="imageCropped($event)"></image-cropper>
        </div>
        <div>
            <h5>Preview</h5>
            <img [src]="croppedImage" />
        </div>
    </div>

    <form>
        <div aria-required="true">
            <ng-multiselect-dropdown
                name="categories"
                [placeholder]="'Select Categories'"
                [data]="categories"
                [(ngModel)]="selectedCategories"
                [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
            <ng-multiselect-dropdown
                name="ages"
                [placeholder]="'Select Age'"
                [data]="ages"
                [settings]="ageSettings"
                (onSelect)="onAgeSelect($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="center-screen">
            <input aria-required="true" class="title" type="text" placeholder="Title" name="title" [(ngModel)]="textTitle"/>
            <textarea aria-required="true" placeholder="Free Text" name="text" [(ngModel)]="text"></textarea>
        </div>
        
            
        <button (click)="onSubmit()">Submit</button>

    </form>
</div>

<ng-http-loader></ng-http-loader>